* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: steelblue;
}

.zorro {
  position: absolute;
  transform-style: preserve-3d;
  top: 50px;
  left: -100px;
}

.cabeza {
  position: absolute;
  left: 100px;
  height: 200px;
  width: 200px;
  transform-style: preserve-3d;
  transform: perspective(700px) rotateX(-20deg) rotateY(-40deg) rotateZ(-5deg) translateY(100px) translateX(50px) translateZ(-150px);
}

.cabeza_frontal {
  position: absolute;
  height: 340px;
  width: 445px;
  background-color: #cd7320;
  transform: translateZ(170px);
}

.mancha1_i {
  position: absolute;
  height: 30px;
  width: 55px;
  background-color: #c86217;
}

.mancha2_i {
  position: absolute;
  top: 30px;
  height: 90px;
  width: 55px;
  background-color: #cb6920;
}

.mancha3_i {
  position: absolute;
  top: 120px;
  height: 55px;
  width: 110px;
  background-color: #be834f;
}

.ojo_i {
  position: absolute;
  top: 175px;
  height: 55px;
  width: 110px;
  background-color: #000000;
}

.mancha4_i {
  position: absolute;
  top: 230px;
  height: 55px;
  width: 110px;
  background-color: #cb6920;
}

.mancha5_i {
  position: absolute;
  top: 285px;
  height: 55px;
  width: 110px;
  background-color: #e7d8d1;
}

.macha_arriba_nariz {
  position: absolute;
  top: 175px;
  left: 165px;
  height: 55px;
  width: 130px;
  background-color: #e78e42;
}

.mancha1_d {
  position: relative;
  float: right;
  height: 30px;
  width: 55px;
  background-color: #c86217;
}

.mancha2_d {
  position: relative;
  float: right;
  top: 30px;
  right: -55px;
  height: 90px;
  width: 55px;
  background-color: #cb6920;
}

.mancha3_d {
  position: absolute;
  top: 120px;
  right: 0;
  height: 55px;
  width: 110px;
  background-color: #be834f;
}

.ojo_d {
  position: absolute;
  top: 175px;
  right: 0;
  height: 55px;
  width: 110px;
  background-color: #000000;
}

.mancha4_d {
  position: absolute;
  top: 230px;
  right: 0;
  height: 55px;
  width: 110px;
  background-color: #cb6920;
}

.mancha5_d {
  position: absolute;
  top: 285px;
  right: 0px;
  height: 55px;
  width: 110px;
  background-color: #e7d8d1;
}

.hocico {
  position: absolute;
  top: 300px;
  left: 90px;
  height: 110px;
  width: 100px;
  transform-style: preserve-3d;
  transform: rotateZ(-3deg) rotateX(-30deg) rotateY(-45deg) translateY(0px) translateX(115px) translateZ(40px);
}

.hocico_frontal {
  position: absolute;
  height: 120px;
  width: 305px;
  background-color: #e07d1f;
  transform: translateZ(70px) translateX(50px);
}

.manchahocico1_i {
  position: absolute;
  height: 58px;
  width: 60px;
  background-color: #e9d8d1;
}

.manchahocico1_d {
  position: relative;
  float: right;
  height: 58px;
  width: 65px;
  background-color: #e9d8d1;
}

.nariz {
  position: absolute;
  left: 60px;
  height: 58px;
  width: 180px;
  background-color: #000000;
}

.boca_frontal {
  position: absolute;
  bottom: 0;
  height: 62px;
  width: 100%;
  background-color: #f9f5f6;
}

.hocico_top {
  position: absolute;
  height: 150px;
  width: 305px;
  background-color: #e07d1f;
  transform: rotateX(90deg) translateZ(75px) translateX(50px) translateY(-5px);
}

.mancha_hocicoTop1_i {
  position: absolute;
  height: 55px;
  width: 60px;
  background-color: #c86217;
}

.mancha_hocicoTop1_d {
  position: absolute;
  right: 0;
  height: 55px;
  width: 65px;
  background-color: #c86217;
}

.mancha_hocicoTop2 {
  position: absolute;
  top: 55px;
  left: 60px;
  height: 95px;
  width: 180px;
  background-color: #e78e42;
}

.hocico_lateral {
  position: absolute;
  height: 120px;
  width: 150px;
  background-color: #e07d1f;
  transform: rotateY(90deg) translateZ(285px) translateY(-5px) translateX(0px);
}

.mancha_hocicoLateral1 {
  position: relative;
  float: left;
  height: 50%;
  width: 95px;
  background-color: #c86217;
}

.mancha_hocicoLateral2 {
  position: relative;
  float: right;
  height: 50%;
  width: 100%;
  background-color: #e9d8d1;
}

.cabeza_lateral {
  position: absolute;
  height: 340px;
  width: 340px;
  background: #a75f1c;
  transform: rotateY(90deg) translateZ(275px);
}

.macha_cabeza_lateral1_i {
  position: absolute;
  top: 120px;
  height: 55px;
  width: 55px;
  background-color: #964a14;
}

.macha_cabeza_lateral2_i {
  position: absolute;
  top: 175px;
  height: 56.6px;
  width: 55px;
  background-color: #000000;
}

.macha_cabeza_lateral3_i {
  position: absolute;
  top: 231.6px;
  height: 55px;
  width: 320px;
  background-color: #964a14;
}

.macha_cabeza_lateral4_i {
  position: absolute;
  top: 286.6px;
  height: 58px;
  width: 55px;
  background-color: #cbbeb8;
}

.macha_cabeza_lateral5_i {
  position: absolute;
  top: 286.6px;
  left: 55px;
  height: 58px;
  width: 55px;
  background-color: #b8ada8;
}

.macha_cabeza_lateral6_i {
  position: absolute;
  top: 286.6px;
  left: 110px;
  height: 58px;
  width: 55px;
  background-color: #cbbeb8;
}

.macha_cabeza_lateral1_d {
  position: absolute;
  top: 65px;
  right: 0;
  height: 55px;
  width: 110px;
  background-color: #964a14;
}

.macha_cabeza_lateral2_d {
  position: absolute;
  top: 120px;
  right: 0;
  height: 56.6px;
  width: 55px;
  background-color: #964a14;
}

.macha_cabeza_lateral3_d {
  position: absolute;
  top: 176.6px;
  right: 0;
  height: 55px;
  width: 165px;
  background-color: #964a14;
}

.macha_cabeza_lateral31_d {
  position: absolute;
  top: 176.6px;
  right: 165px;
  height: 55px;
  width: 55px;
  background-color: #be834f;
}

.macha_cabeza_lateral4_d {
  position: absolute;
  top: 286.6px;
  right: 0;
  height: 58px;
  width: 55px;
  background-color: #612e09;
}

.macha_cabeza_lateral5_d {
  position: absolute;
  top: 286.6px;
  right: 55px;
  height: 58px;
  width: 110px;
  background-color: #964a14;
}

.cabeza_top {
  position: absolute;
  height: 350px;
  width: 440px;
  background: #e07d1f;
  transform: rotateX(90deg) translateZ(178px) translateX(8px);
}

.mancha_lateral_cabeza_top_i {
  position: absolute;
  height: 350px;
  width: 55px;
  background-color: #c86b29;
}

.mancha_cabeza_top1_i {
  position: absolute;
  left: 55px;
  height: 55px;
  width: 55px;
  background-color: #c86b29;
}

.mancha_cabeza_top2_i {
  position: absolute;
  left: 110px;
  bottom: 0;
  height: 240px;
  width: 55px;
  background-color: #e78e42;
}

.mancha_cabeza_top3_i {
  position: absolute;
  left: 165px;
  bottom: 55px;
  height: 240px;
  width: 55px;
  background-color: #e78e42;
}

.mancha_cabeza_top4_i {
  position: absolute;
  left: 220px;
  bottom: 0;
  height: 240px;
  width: 55px;
  background-color: #e78e42;
}

.mancha_cabeza_top5_i {
  position: absolute;
  left: 275px;
  bottom: 55px;
  height: 240px;
  width: 55px;
  background-color: #e78e42;
}

.mancha_lateral_cabeza_top_d {
  position: absolute;
  right: 0;
  height: 350px;
  width: 55px;
  background-color: #c86b29;
}

.mancha_cabeza_top1_d {
  position: absolute;
  right: 55px;
  height: 55px;
  width: 45px;
  background-color: #c86b29;
}

.oreja_i {
  position: absolute;
  top: 30px;
  left: 101px;
  height: 110px;
  width: 90px;
  transform-style: preserve-3d;
  transform: perspective(700px) rotateX(-20deg) rotateY(-39deg) translateY(-50px) translateX(65px) translateZ(-70px);
}

.orejai_frontal {
  position: absolute;
  height: 110px;
  width: 90px;
  background-color: #e9d8d1;
  transform: translateZ(24px);
}

.mancha_orejai_frontal {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 55px;
  width: 50%;
  background-color: #856860;
}

.orejai_lateral {
  position: absolute;
  height: 110px;
  width: 50px;
  background-color: #000000;
  transform: rotateY(90deg) translateZ(66px);
}

.mancha_orejai_lateral {
  position: absolute;
  bottom: 0;
  height: 55px;
  width: 50px;
  background-color: #522209;
}

.orejai_top {
  position: absolute;
  height: 50px;
  width: 91px;
  background-color: #000000;
  transform: rotateX(90deg) translateZ(26px) translateX(1px);
}

.oreja_d {
  position: absolute;
  top: 30px;
  left: 370px;
  height: 110px;
  width: 90px;
  transform-style: preserve-3d;
  transform: perspective(700px) rotateX(-20deg) rotateY(-30deg) translateY(-80px) translateX(200px) translateZ(95px);
}

.orejad_frontal {
  position: absolute;
  height: 110px;
  width: 115px;
  background-color: #e9d8d1;
  transform: translateZ(24px);
}

.mancha_orejad_frontal {
  position: absolute;
  bottom: 0;
  height: 55px;
  width: 55px;
  background-color: #856860;
}

.orejad_lateral {
  position: absolute;
  height: 110px;
  width: 50px;
  background-color: #000000;
  transform: rotateY(90deg) translateZ(91px);
}

.mancha_orejad_lateral {
  position: absolute;
  bottom: 0;
  height: 55px;
  width: 50px;
  background-color: #522209;
}

.orejad_top {
  position: absolute;
  height: 50px;
  width: 115px;
  background-color: #000000;
  transform: rotateX(90deg) translateZ(26px) translateX(1px);
}

/**/
.cola {
  position: absolute;
  top: 400px;
  left: 300px;
  height: 140px;
  width: 200px;
  transform-style: preserve-3d;
  transform: perspective(500px) rotateX(-15deg) rotateY(5deg) translateX(150px) translateZ(200px) translateY(20px);
}

.cola_frontal {
  position: absolute;
  height: 140px;
  width: 400px;
  background-color: #bd611c;
  transform: translateZ(70px);
}

.cola_frontal_blanco {
  height: 140px;
  width: 100px;
  background-color: #cabbb5;
}

.mancha1_cola_frontal_i {
  position: absolute;
  top: 35px;
  left: 45px;
  height: 35px;
  width: 55px;
  background-color: #987971;
}

.mancha2_cola_frontal_i {
  position: absolute;
  bottom: 0;
  left: 45px;
  height: 35px;
  width: 55px;
  background-color: #987971;
}

.mancha1_cola_frontal_d {
  position: absolute;
  top: 0;
  right: 0;
  height: 35px;
  width: 200px;
  background-color: #964a14;
}

.mancha2_cola_frontal_d {
  position: absolute;
  top: 35px;
  left: 100px;
  height: 35px;
  width: 165px;
  background-color: #be834f;
}

.mancha3_cola_frontal_d {
  position: absolute;
  top: 70px;
  right: 0;
  height: 35px;
  width: 55px;
  background-color: #be834f;
}

.mancha4_cola_frontal_d {
  position: absolute;
  top: 105px;
  right: 0;
  height: 35px;
  width: 110px;
  background-color: #964a14;
}

.mancha41_cola_frontal_d {
  position: absolute;
  top: 105px;
  right: 110px;
  height: 35px;
  width: 55px;
  background-color: #be834f;
}

.cola_lateral {
  position: absolute;
  height: 140px;
  width: 140px;
  background-color: #dccbc4;
  transform: rotateY(90deg) translateZ(-70px);
}

.mancha_cola_lateral_d {
  position: absolute;
  top: 0;
  right: 0;
  height: 140px;
  width: 55px;
  background-color: #987971;
}

.mancha1_cola_lateral_d {
  position: absolute;
  top: 0;
  right: 55px;
  height: 35px;
  width: 35px;
  background-color: #987971;
}

.mancha2_cola_lateral_d {
  position: absolute;
  bottom: 0;
  right: 55px;
  height: 35px;
  width: 35px;
  background-color: #987971;
}

.mancha3_cola_lateral_d {
  position: absolute;
  top: 40px;
  right: 70px;
  height: 35px;
  width: 35px;
  background-color: #987971;
}

.cola_top {
  position: absolute;
  height: 140px;
  width: 400px;
  background-color: #cb6920;
  transform: rotateX(90deg) translateZ(70px) translateX(1px);
}

.cola_top_blanco {
  height: 140px;
  width: 100px;
  background-color: #e9d8d1;
}

.mancha_cola_top_d {
  position: absolute;
  top: 0;
  left: 0;
  height: 28px;
  width: 65px;
  background-color: #987971;
}

.mancha1_cola_top_d {
  position: absolute;
  top: 0;
  left: 65px;
  height: 28px;
  width: 35px;
  background-color: #c86b29;
}

.mancha11_cola_top_d {
  position: absolute;
  top: 0;
  right: 0;
  height: 28px;
  width: 300px;
  background-color: #a05621;
}

.mancha2_cola_top_d {
  position: absolute;
  top: 28px;
  right: 0;
  height: 28px;
  width: 150px;
  background-color: #a05621;
}

.mancha3_cola_top_d {
  position: absolute;
  top: 56px;
  left: 65px;
  height: 28px;
  width: 35px;
  background-color: #c86b29;
}

.mancha4_cola_top_d {
  position: absolute;
  bottom: 0;
  left: 65px;
  height: 28px;
  width: 35px;
  background-color: #c86b29;
}

/**/
.cuerpo {
  position: absolute;
  top: 300px;
  left: 300px;
  height: 400px;
  width: 800px;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateX(-25deg) rotateY(-40deg) translateZ(50px) translateZ(-300px);
}

.cuerpo_frontal {
  position: absolute;
  height: 400px;
  width: 800px;
  background-color: #b9a299;
  transform: translateZ(100px);
}

.mancha1_cuerpo_frontal {
  position: absolute;
  top: 0;
  left: 0;
  height: 20%;
  width: 90%;
  background-color: #987971;
}

.mancha11_cuerpo_frontal {
  position: absolute;
  top: 0;
  right: 0;
  height: 20%;
  width: 10%;
  background-color: #a35223;
}

.mancha2_cuerpo_frontal {
  position: absolute;
  top: 20%;
  left: 20%;
  height: 20%;
  width: 20%;
  background-color: #987971;
}

.cuerpo_lateral {
  position: absolute;
  height: 400px;
  width: 400px;
  background-color: #874414;
  transform: rotateY(90deg) translateZ(600px) translateX(100px);
}

.mancha1_cuerpo_lateral {
  position: absolute;
  top: 20%;
  right: 0;
  height: 60%;
  width: 16%;
  background-color: #a15b1e;
}

.mancha2_cuerpo_lateral {
  position: absolute;
  top: 0;
  height: 20%;
  width: 20%;
  background-color: #a35223;
}

.cuerpo_top {
  position: absolute;
  height: 400px;
  width: 800px;
  background-color: #e07d1f;
  transform: rotateX(90deg) translateZ(200px) translateY(-100px);
}

.mancha1_cuerpo_top {
  position: absolute;
  top: 0;
  left: 9%;
  height: 16%;
  width: 9%;
  background-color: #c86b29;
}

.mancha11_cuerpo_top {
  position: absolute;
  top: 0;
  right: 0;
  height: 16%;
  width: 9%;
  background-color: #c86b29;
}

.mancha2_cuerpo_top {
  position: absolute;
  top: 16%;
  left: 36%;
  height: 16%;
  width: 18%;
  background-color: #c86b29;
}

.mancha21_cuerpo_top {
  position: absolute;
  top: 16%;
  right: 0;
  height: 16%;
  width: 9%;
  background-color: #c86b29;
}

.mancha3_cuerpo_top {
  position: absolute;
  top: 32%;
  left: 18%;
  height: 16%;
  width: 27%;
  background-color: #c86b29;
}

.mancha31_cuerpo_top {
  position: absolute;
  top: 32%;
  right: 0;
  height: 16%;
  width: 9%;
  background-color: #c86b29;
}

.mancha4_cuerpo_top {
  position: absolute;
  top: 48%;
  left: 18%;
  height: 16%;
  width: 36%;
  background-color: #c86b29;
}

.mancha41_cuerpo_top {
  position: absolute;
  top: 48%;
  right: 0;
  height: 16%;
  width: 18%;
  background-color: #c86b29;
}

.mancha5_cuerpo_top {
  position: absolute;
  top: 64%;
  left: 18%;
  height: 16%;
  width: 27%;
  background-color: #bd611c;
}

.mancha51_cuerpo_top {
  position: absolute;
  top: 64%;
  right: 9%;
  height: 16%;
  width: 18%;
  background-color: #c86b29;
}

.mancha52_cuerpo_top {
  position: absolute;
  top: 64%;
  right: 0;
  height: 16%;
  width: 9%;
  background-color: #bd611c;
}

.mancha6_cuerpo_top {
  position: absolute;
  bottom: 0;
  left: 18%;
  height: 20%;
  width: 36%;
  background-color: #bd611c;
}

.mancha61_cuerpo_top {
  position: absolute;
  bottom: 0;
  right: 9%;
  height: 20%;
  width: 37%;
  background-color: #c86b29;
}

.mancha62_cuerpo_top {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 20%;
  width: 18%;
  background-color: #bd611c;
}