* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: steelblue;
}

.zorro {
  position: absolute;
  top: 100px;
}

.cabeza {
  position: relative;
  transform-style: preserve-3d;
}

.cabeza_frontal {
  position: absolute;
  top: 200px;
  left: 10px;
  height: 340px;
  width: 445px;
  /*background-color: #e07d1f;*/
  background-color: #cd7320;
  transform: rotateY(45deg) rotateX(20deg) rotateZ(20deg);
}

.mancha1_i {
  position: absolute;
  height: 30px;
  width: 55px;
  background-color: #c86217;
}

.mancha2_i {
  position: absolute;
  top: 30px;
  height: 90px;
  width: 55px;
  background-color: #cb6920;
}

.mancha3_i {
  position: absolute;
  top: 120px;
  height: 55px;
  width: 110px;
  background-color: #be834f;
}

.ojo_i {
  position: absolute;
  top: 175px;
  height: 55px;
  width: 110px;
  background-color: #000000;
}

.mancha4_i {
  position: absolute;
  top: 230px;
  height: 55px;
  width: 110px;
  background-color: #cb6920;
}

.mancha5_i {
  position: absolute;
  top: 285px;
  height: 55px;
  width: 110px;
  background-color: #e7d8d1;
}

.macha_arriba_nariz {
  position: absolute;
  top: 175px;
  left: 165px;
  height: 55px;
  width: 116px;
  background-color: #e78e42;
}

.mancha1_d {
  position: relative;
  float: right;
  height: 30px;
  width: 55px;
  background-color: #c86217;
}

.mancha2_d {
  position: relative;
  float: right;
  top: 30px;
  right: -55px;
  height: 90px;
  width: 55px;
  background-color: #cb6920;
}

.mancha3_d {
  position: absolute;
  top: 120px;
  right: 0;
  height: 55px;
  width: 110px;
  background-color: #be834f;
}

.ojo_d {
  position: absolute;
  top: 175px;
  right: 0;
  height: 55px;
  width: 110px;
  background-color: #000000;
}

.mancha4_d {
  position: absolute;
  top: 230px;
  right: 0;
  height: 55px;
  width: 110px;
  background-color: #cb6920;
}

.mancha5_d {
  position: absolute;
  top: 285px;
  right: 0px;
  height: 55px;
  width: 110px;
  background-color: #e7d8d1;
}

.hocico {
  position: absolute;
  transform: translateZ(1000px);
  transform-style: preserve-3d;
}

.hocico_frontal {
  position: absolute;
  top: 444px;
  left: 80px;
  height: 110px;
  width: 225px;
  background-color: #e07d1f;
  transform: rotateY(45deg) rotateX(20deg) rotateZ(20deg);
}

.manchahocico1_i {
  position: absolute;
  height: 55px;
  width: 55px;
  background-color: #e9d8d1;
}

.manchahocico1_d {
  position: relative;
  float: right;
  height: 55px;
  width: 55px;
  background-color: #e9d8d1;
}

.nariz {
  position: absolute;
  left: 55px;
  height: 55px;
  width: 116px;
  background-color: #000000;
}

.boca_frontal {
  position: absolute;
  top: 55px;
  height: 55px;
  width: 225px;
  background-color: #f9f5f6;
}

.hocico_top {
  position: absolute;
  top: 465px;
  left: 36px;
  height: 50px;
  width: 358px;
  background-color: #e07d1f;
  transform: rotateY(45deg) rotateX(-54deg) rotateZ(20deg) 
  translateZ(-50px) translateY(-23px);
}

.mancha_hocicoTop1_i {
  position: absolute;
  height: 25px;
  width: 88px;
  background-color: #c86217;
}

.mancha_hocicoTop1_d {
  position: relative;
  float: right;
  height: 25px;
  width: 85px;
  background-color: #c86217;
}

.mancha_hocicoTop2 {
  position: absolute;
  top: 25px;
  left: 88px;
  height: 25px;
  width: 185px;
  background-color: #e78e42;
}

.hocico_lateral {
  position: absolute;
  top: 473px;
  left: 182px;
  height: 98px;
  width: 225px;
  background-color: #e07d1f;
  transform: rotateY(100deg) rotateX(-2deg) rotateZ(7deg)
  translateX(-4px);
}

.mancha_hocicoLateral1 {
  position: relative;
  float: left;
  height: 50%;
  width: 110px;
  background-color: #c86217;
}

.mancha_hocicoLateral2 {
  position: relative;
  float: right;
  height: 50%;
  width: 100%;
  background-color: #e9d8d1;
}

.cabeza_lateral {
  position: absolute;
  top: 190px;
  left: 350px;
  height: 345px;
  width: 320px;
  background: #a75f1c;
  transform: skew(-20deg) rotateY(54deg) rotateZ(-30deg) translateZ(-2px);
}

.macha_cabeza_lateral1_i {
  position: absolute;
  top: 120px;
  height: 55px;
  width: 55px;
  background-color: #964a14;
}

.macha_cabeza_lateral2_i {
  position: absolute;
  top: 175px;
  height: 56.6px;
  width: 55px;
  background-color: #000000;
}

.macha_cabeza_lateral3_i {
  position: absolute;
  top: 231.6px;
  height: 55px;
  width: 320px;
  background-color: #964a14;
}

.macha_cabeza_lateral4_i {
  position: absolute;
  top: 286.6px;
  height: 58px;
  width: 55px;
  background-color: #cbbeb8;
}

.macha_cabeza_lateral5_i {
  position: absolute;
  top: 286.6px;
  left: 55px;
  height: 58px;
  width: 55px;
  background-color: #b8ada8;
}

.macha_cabeza_lateral6_i {
  position: absolute;
  top: 286.6px;
  left: 110px;
  height: 58px;
  width: 55px;
  background-color: #cbbeb8;
}

.macha_cabeza_lateral1_d {
  position: absolute;
  top: 65px;
  right: 0;
  height: 55px;
  width: 110px;
  background-color: #964a14;
}

.macha_cabeza_lateral2_d {
  position: absolute;
  top: 120px;
  right: 0;
  height: 56.6px;
  width: 55px;
  background-color: #964a14;
}

.macha_cabeza_lateral3_d {
  position: absolute;
  top: 176.6px;
  right: 0;
  height: 55px;
  width: 165px;
  background-color: #964a14;
}

.macha_cabeza_lateral31_d {
  position: absolute;
  top: 176.6px;
  right: 165px;
  height: 55px;
  width: 55px;
  background-color: #be834f;
}

.macha_cabeza_lateral4_d {
  position: absolute;
  top: 286.6px;
  right: 0;
  height: 58px;
  width: 55px;
  background-color: #612e09;
}

.macha_cabeza_lateral5_d {
  position: absolute;
  top: 286.6px;
  right: 55px;
  height: 58px;
  width: 110px;
  background-color: #964a14;
}

.cabeza_top {
  position: absolute;
  top: -35px;
  left: 130px;
  height: 350px;
  width: 430px;
  background: #e07d1f;
  transform: rotateY(-3deg) rotateX(54deg) rotateZ(36.5deg);
}

.mancha_lateral_cabeza_top_i {
  position: absolute;
  height: 350px;
  width: 55px;
  background-color: #c86b29;
}

.mancha_cabeza_top1_i {
  position: absolute;
  left: 55px;
  height: 55px;
  width: 55px;
  background-color: #c86b29;
}

.mancha_cabeza_top2_i {
  position: absolute;
  left: 110px;
  bottom: 0;
  height: 240px;
  width: 55px;
  background-color: #e78e42;
}

.mancha_cabeza_top3_i {
  position: absolute;
  left: 165px;
  bottom: 55px;
  height: 240px;
  width: 55px;
  background-color: #e78e42;
}

.mancha_cabeza_top4_i {
  position: absolute;
  left: 220px;
  bottom: 0;
  height: 240px;
  width: 55px;
  background-color: #e78e42;
}

.mancha_cabeza_top5_i {
  position: absolute;
  left: 275px;
  bottom: 55px;
  height: 240px;
  width: 55px;
  background-color: #e78e42;
}

.mancha_lateral_cabeza_top_d {
  position: absolute;
  right: 0;
  height: 350px;
  width: 55px;
  background-color: #c86b29;
}

.mancha_cabeza_top1_d {
  position: absolute;
  right: 55px;
  height: 55px;
  width: 45px;
  background-color: #c86b29;
}

.oreja_i {
  position: absolute;
  top: 30px;
  left: 101px;
  height: 110px;
  width: 110px;
  transform-style: preserve-3d;
  transform: perspective(700px) rotateX(-30deg) rotateY(-39deg);
}

.orejai_frontal {
  position: absolute;
  height: 110px;
  width: 110px;
  background-color: #e9d8d1;
  transform: translateZ(24px);
}

.mancha_orejai_frontal {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 55px;
  width: 55px;
  background-color: #856860;
}

.orejai_lateral {
  position: absolute;
  height: 110px;
  width: 50px;
  background-color: #000000;
  transform: rotateY(90deg) translateZ(86px);
}

.mancha_orejai_lateral {
  position: absolute;
  bottom: 0;
  height: 55px;
  width: 50px;
  background-color: #522209;
}

.orejai_top {
  position: absolute;
  height: 50px;
  width: 110.8px;
  background-color: #000000;
  transform: rotateX(90deg) translateZ(26px) translateX(1px);
}

.oreja_d {
  position: absolute;
  top: 140px;
  left: 355px;
  height: 110px;
  width: 100px;
  transform-style: preserve-3d;
  transform: perspective(700px) rotateX(-30deg) rotateY(-39deg);
}

.orejad_frontal {
  position: absolute;
  height: 110px;
  width: 110px;
  background-color: #e9d8d1;
  transform: translateZ(24px);
}

.mancha_orejad_frontal {
  position: absolute;
  bottom: 0;
  height: 55px;
  width: 55px;
  background-color: #856860;
}

.orejad_lateral {
  position: absolute;
  height: 110px;
  width: 50px;
  background-color: #000000;
  transform: rotateY(90deg) translateZ(86px);
}

.mancha_orejad_lateral {
  position: absolute;
  bottom: 0;
  height: 55px;
  width: 50px;
  background-color: #522209;
}

.orejad_top {
  position: absolute;
  height: 50px;
  width: 110.8px;
  background-color: #000000;
  transform: rotateX(90deg) translateZ(26px) translateX(1px);
}


