* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: steelblue;
}

.zorro {
  position: absolute;
  top: 50px;
  left: 50px;
}

.cabeza {
  position: absolute;
  left: 100px;
  height: 200px;
  width: 200px;
  transform-style: preserve-3d;
  transform: perspective(700px) rotateX(-20deg) rotateY(-40deg) translateY(50px);
}

.cabeza_frontal {
  position: absolute;
  height: 340px;
  width: 445px;
  /*background-color: #e07d1f;*/
  background-color: #cd7320;
  transform: translateZ(170px);
}

.mancha1_i {
  position: absolute;
  height: 30px;
  width: 55px;
  background-color: #c86217;
}

.mancha2_i {
  position: absolute;
  top: 30px;
  height: 90px;
  width: 55px;
  background-color: #cb6920;
}

.mancha3_i {
  position: absolute;
  top: 120px;
  height: 55px;
  width: 110px;
  background-color: #be834f;
}

.ojo_i {
  position: absolute;
  top: 175px;
  height: 55px;
  width: 110px;
  background-color: #000000;
}

.mancha4_i {
  position: absolute;
  top: 230px;
  height: 55px;
  width: 110px;
  background-color: #cb6920;
}

.mancha5_i {
  position: absolute;
  top: 285px;
  height: 55px;
  width: 110px;
  background-color: #e7d8d1;
}

.macha_arriba_nariz {
  position: absolute;
  top: 175px;
  left: 165px;
  height: 55px;
  width: 130px;
  background-color: #e78e42;
}

.mancha1_d {
  position: relative;
  float: right;
  height: 30px;
  width: 55px;
  background-color: #c86217;
}

.mancha2_d {
  position: relative;
  float: right;
  top: 30px;
  right: -55px;
  height: 90px;
  width: 55px;
  background-color: #cb6920;
}

.mancha3_d {
  position: absolute;
  top: 120px;
  right: 0;
  height: 55px;
  width: 110px;
  background-color: #be834f;
}

.ojo_d {
  position: absolute;
  top: 175px;
  right: 0;
  height: 55px;
  width: 110px;
  background-color: #000000;
}

.mancha4_d {
  position: absolute;
  top: 230px;
  right: 0;
  height: 55px;
  width: 110px;
  background-color: #cb6920;
}

.mancha5_d {
  position: absolute;
  top: 285px;
  right: 0px;
  height: 55px;
  width: 110px;
  background-color: #e7d8d1;
}

.hocico {
  position: absolute;
  top: 370px;
  left: -72px;
  height: 200px;
  width: 360px;
  transform-style: preserve-3d;
  transform: rotateZ(-3deg) rotateX(-30deg) rotateY(-55deg) translateY(50px);
  /*transform: perspective(700px) rotateZ(0deg) rotateX(-30deg) rotateY(-55deg) translateY(50px);*/
}

.hocico_frontal {
  position: absolute;
  height: 110px;
  width: 355px;
  background-color: #e07d1f;
  transform: translateZ(60px) translateX(31px);
}

.manchahocico1_i {
  position: absolute;
  height: 55px;
  width: 70px;
  background-color: #e9d8d1;
}

.manchahocico1_d {
  position: relative;
  float: right;
  height: 55px;
  width: 80px;
  background-color: #e9d8d1;
}

.nariz {
  position: absolute;
  left: 70px;
  height: 55px;
  width: 210px;
  background-color: #000000;
}

.boca_frontal {
  position: absolute;
  top: 55px;
  height: 55px;
  width: 360px;
  background-color: #f9f5f6;
}

.hocico_top {
  position: absolute;
  height: 150px;
  width: 360px;
  background-color: #e07d1f;
  transform: rotateX(90deg) translateZ(90px) translateX(50px);
}

.mancha_hocicoTop1_i {
  position: absolute;
  height: 55px;
  width: 70px;
  background-color: #c86217;
}

.mancha_hocicoTop1_d {
  position: absolute;
  right: 0;
  height: 55px;
  width: 80px;
  background-color: #c86217;
}

.mancha_hocicoTop2 {
  position: absolute;
  top: 55px;
  left: 70px;
  height: 95px;
  width: 210px;
  background-color: #e78e42;
}

.hocico_lateral {
  position: absolute;
  height: 110px;
  width: 150px;
  background-color: #e07d1f;
  transform: rotateY(90deg) translateZ(340px) translateY(-18px) translateX(-5px);
}

.mancha_hocicoLateral1 {
  position: relative;
  float: left;
  height: 50%;
  width: 97px;
  background-color: #c86217;
}

.mancha_hocicoLateral2 {
  position: relative;
  float: right;
  height: 50%;
  width: 100%;
  background-color: #e9d8d1;
}

.cabeza_lateral {
  position: absolute;
  height: 340px;
  width: 340px;
  background: #a75f1c;
  transform: rotateY(90deg) translateZ(275px);
}

.macha_cabeza_lateral1_i {
  position: absolute;
  top: 120px;
  height: 55px;
  width: 55px;
  background-color: #964a14;
}

.macha_cabeza_lateral2_i {
  position: absolute;
  top: 175px;
  height: 56.6px;
  width: 55px;
  background-color: #000000;
}

.macha_cabeza_lateral3_i {
  position: absolute;
  top: 231.6px;
  height: 55px;
  width: 320px;
  background-color: #964a14;
}

.macha_cabeza_lateral4_i {
  position: absolute;
  top: 286.6px;
  height: 58px;
  width: 55px;
  background-color: #cbbeb8;
}

.macha_cabeza_lateral5_i {
  position: absolute;
  top: 286.6px;
  left: 55px;
  height: 58px;
  width: 55px;
  background-color: #b8ada8;
}

.macha_cabeza_lateral6_i {
  position: absolute;
  top: 286.6px;
  left: 110px;
  height: 58px;
  width: 55px;
  background-color: #cbbeb8;
}

.macha_cabeza_lateral1_d {
  position: absolute;
  top: 65px;
  right: 0;
  height: 55px;
  width: 110px;
  background-color: #964a14;
}

.macha_cabeza_lateral2_d {
  position: absolute;
  top: 120px;
  right: 0;
  height: 56.6px;
  width: 55px;
  background-color: #964a14;
}

.macha_cabeza_lateral3_d {
  position: absolute;
  top: 176.6px;
  right: 0;
  height: 55px;
  width: 165px;
  background-color: #964a14;
}

.macha_cabeza_lateral31_d {
  position: absolute;
  top: 176.6px;
  right: 165px;
  height: 55px;
  width: 55px;
  background-color: #be834f;
}

.macha_cabeza_lateral4_d {
  position: absolute;
  top: 286.6px;
  right: 0;
  height: 58px;
  width: 55px;
  background-color: #612e09;
}

.macha_cabeza_lateral5_d {
  position: absolute;
  top: 286.6px;
  right: 55px;
  height: 58px;
  width: 110px;
  background-color: #964a14;
}

.cabeza_top {
  position: absolute;
  height: 350px;
  width: 440px;
  background: #e07d1f;
  transform: rotateX(90deg) translateZ(178px) translateX(8px);
}

.mancha_lateral_cabeza_top_i {
  position: absolute;
  height: 350px;
  width: 55px;
  background-color: #c86b29;
}

.mancha_cabeza_top1_i {
  position: absolute;
  left: 55px;
  height: 55px;
  width: 55px;
  background-color: #c86b29;
}

.mancha_cabeza_top2_i {
  position: absolute;
  left: 110px;
  bottom: 0;
  height: 240px;
  width: 55px;
  background-color: #e78e42;
}

.mancha_cabeza_top3_i {
  position: absolute;
  left: 165px;
  bottom: 55px;
  height: 240px;
  width: 55px;
  background-color: #e78e42;
}

.mancha_cabeza_top4_i {
  position: absolute;
  left: 220px;
  bottom: 0;
  height: 240px;
  width: 55px;
  background-color: #e78e42;
}

.mancha_cabeza_top5_i {
  position: absolute;
  left: 275px;
  bottom: 55px;
  height: 240px;
  width: 55px;
  background-color: #e78e42;
}

.mancha_lateral_cabeza_top_d {
  position: absolute;
  right: 0;
  height: 350px;
  width: 55px;
  background-color: #c86b29;
}

.mancha_cabeza_top1_d {
  position: absolute;
  right: 55px;
  height: 55px;
  width: 45px;
  background-color: #c86b29;
}

.oreja_i {
  position: absolute;
  top: 30px;
  left: 101px;
  height: 110px;
  width: 110px;
  transform-style: preserve-3d;
  transform: perspective(700px) rotateX(-30deg) rotateY(-39deg);
}

.orejai_frontal {
  position: absolute;
  height: 110px;
  width: 110px;
  background-color: #e9d8d1;
  transform: translateZ(24px);
}

.mancha_orejai_frontal {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 55px;
  width: 55px;
  background-color: #856860;
}

.orejai_lateral {
  position: absolute;
  height: 110px;
  width: 50px;
  background-color: #000000;
  transform: rotateY(90deg) translateZ(86px);
}

.mancha_orejai_lateral {
  position: absolute;
  bottom: 0;
  height: 55px;
  width: 50px;
  background-color: #522209;
}

.orejai_top {
  position: absolute;
  height: 50px;
  width: 110.8px;
  background-color: #000000;
  transform: rotateX(90deg) translateZ(26px) translateX(1px);
}

.oreja_d {
  position: absolute;
  top: 140px;
  left: 355px;
  height: 110px;
  width: 100px;
  transform-style: preserve-3d;
  transform: perspective(700px) rotateX(-30deg) rotateY(-39deg);
}

.orejad_frontal {
  position: absolute;
  height: 110px;
  width: 110px;
  background-color: #e9d8d1;
  transform: translateZ(24px);
}

.mancha_orejad_frontal {
  position: absolute;
  bottom: 0;
  height: 55px;
  width: 55px;
  background-color: #856860;
}

.orejad_lateral {
  position: absolute;
  height: 110px;
  width: 50px;
  background-color: #000000;
  transform: rotateY(90deg) translateZ(86px);
}

.mancha_orejad_lateral {
  position: absolute;
  bottom: 0;
  height: 55px;
  width: 50px;
  background-color: #522209;
}

.orejad_top {
  position: absolute;
  height: 50px;
  width: 110.8px;
  background-color: #000000;
  transform: rotateX(90deg) translateZ(26px) translateX(1px);
}

/**/
.cola {
  position: absolute;
  /*top: 450px;
  left: 355px;*/
  top: 400px;
  left: 300px;
  height: 140px;
  width: 200px;
  transform-style: preserve-3d;
  transform: perspective(500px) rotateX(-20deg) rotateY(35deg);
}

.cola_frontal {
  position: absolute;
  height: 140px;
  width: 400px;
  background-color: #bd611c;
  transform: translateZ(70px);
}

.cola_frontal_blanco {
  height: 140px;
  width: 100px;
  background-color: #cabbb5;
}

.mancha1_cola_frontal_i {
  position: absolute;
  top: 35px;
  left: 45px;
  height: 35px;
  width: 55px;
  background-color: #987971;
}

.mancha2_cola_frontal_i {
  position: absolute;
  bottom: 0;
  left: 45px;
  height: 35px;
  width: 55px;
  background-color: #987971;
}

.mancha1_cola_frontal_d {
  position: absolute;
  top: 0;
  right: 0;
  height: 35px;
  width: 200px;
  background-color: #964a14;
}

.mancha2_cola_frontal_d {
  position: absolute;
  top: 35px;
  left: 100px;
  height: 35px;
  width: 165px;
  background-color: #be834f;
}

.mancha3_cola_frontal_d {
  position: absolute;
  top: 70px;
  right: 0;
  height: 35px;
  width: 55px;
  background-color: #be834f;
}

.mancha4_cola_frontal_d {
  position: absolute;
  top: 105px;
  right: 0;
  height: 35px;
  width: 110px;
  background-color: #964a14;
}

.mancha41_cola_frontal_d {
  position: absolute;
  top: 105px;
  right: 110px;
  height: 35px;
  width: 55px;
  background-color: #be834f;
}

.cola_lateral {
  position: absolute;
  height: 140px;
  width: 140px;
  background-color: #dccbc4;
  transform: rotateY(90deg) translateZ(-70px);
}

.mancha_cola_lateral_d {
  position: absolute;
  top: 0;
  right: 0;
  height: 140px;
  width: 55px;
  background-color: #987971;
}

.mancha1_cola_lateral_d {
  position: absolute;
  top: 0;
  right: 55px;
  height: 35px;
  width: 35px;
  background-color: #987971;
}

.mancha2_cola_lateral_d {
  position: absolute;
  bottom: 0;
  right: 55px;
  height: 35px;
  width: 35px;
  background-color: #987971;
}

.mancha3_cola_lateral_d {
  position: absolute;
  top: 40px;
  right: 70px;
  height: 35px;
  width: 35px;
  background-color: #987971;
}

.cola_top {
  position: absolute;
  height: 140px;
  width: 400px;
  background-color: #cb6920;
  transform: rotateX(90deg) translateZ(70px) translateX(1px);
}

.cola_top_blanco {
  height: 140px;
  width: 100px;
  background-color: #e9d8d1;
}

.mancha_cola_top_d {
  position: absolute;
  top: 0;
  left: 0;
  height: 28px;
  width: 65px;
  background-color: #987971;
}

.mancha1_cola_top_d {
  position: absolute;
  top: 0;
  left: 65px;
  height: 28px;
  width: 35px;
  background-color: #c86b29;
}

.mancha11_cola_top_d {
  position: absolute;
  top: 0;
  right: 0;
  height: 28px;
  width: 300px;
  background-color: #a05621;
}

.mancha2_cola_top_d {
  position: absolute;
  top: 28px;
  right: 0;
  height: 28px;
  width: 150px;
  background-color: #a05621;
}

.mancha3_cola_top_d {
  position: absolute;
  top: 56px;
  left: 65px;
  height: 28px;
  width: 35px;
  background-color: #c86b29;
}

.mancha4_cola_top_d {
  position: absolute;
  bottom: 0;
  left: 65px;
  height: 28px;
  width: 35px;
  background-color: #c86b29;
}

/**/
.cuerpo {
  position: absolute;
  top: 200px;
  left: 300px;
  height: 200px;
  width: 400px;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateX(-25deg) rotateY(-60deg) translateY(50px);
}

.cuerpo_frontal {
  position: absolute;
  height: 200px;
  width: 400px;
  background-color: #b9a299;
  transform: translateZ(100px);
}

.mancha1_cuerpo_frontal {
  position: absolute;
  top: 0;
  left: 0;
  height: 55px;
  width: 345px;
  background-color: #987971;
}

.mancha11_cuerpo_frontal {
  position: absolute;
  top: 0;
  right: 0;
  height: 55px;
  width: 55px;
  background-color: #a35223;
}

.mancha2_cuerpo_frontal {
  position: absolute;
  top: 55px;
  left: 110px;
  height: 55px;
  width: 110px;
  background-color: #987971;
}

.cuerpo_lateral {
  position: absolute;
  height: 200px;
  width: 200px;
  background-color: #964a14;
  transform: rotateY(90deg) translateZ(300px);
}

.mancha1_cuerpo_lateral {
  position: absolute;
  top: 40px;
  right: 0;
  height: 130px;
  width: 55px;
  background-color: #a15b1e;
}

.cuerpo_top {
  position: absolute;
  height: 200px;
  width: 400px;
  background-color: #e07d1f;
  transform: rotateX(90deg) translateZ(100px) translateX(1px);
}

.mancha1_cuerpo_top {
  position: absolute;
  top: 0;
  left: 33px;
  height: 33px;
  width: 33px;
  background-color: #c86b29;
}

.mancha11_cuerpo_top {
  position: absolute;
  top: 0;
  right: 0;
  height: 33px;
  width: 33px;
  background-color: #c86b29;
}

.mancha2_cuerpo_top {
  position: absolute;
  top: 33px;
  left: 132px;
  height: 33px;
  width: 66px;
  background-color: #c86b29;
}

.mancha21_cuerpo_top {
  position: absolute;
  top: 33px;
  right: 0;
  height: 33px;
  width: 66px;
  background-color: #c86b29;
}

.mancha3_cuerpo_top {
  position: absolute;
  top: 66px;
  left: 66px;
  height: 33px;
  width: 99px;
  background-color: #c86b29;
}

.mancha31_cuerpo_top {
  position: absolute;
  top: 66px;
  right: 0;
  height: 33px;
  width: 33px;
  background-color: #c86b29;
}

.mancha4_cuerpo_top {
  position: absolute;
  top: 99px;
  left: 66px;
  height: 33px;
  width: 132px;
  background-color: #c86b29;
}

.mancha41_cuerpo_top {
  position: absolute;
  top: 99px;
  right: 0;
  height: 33px;
  width: 66px;
  background-color: #c86b29;
}

.mancha5_cuerpo_top {
  position: absolute;
  top: 132px;
  left: 66px;
  height: 33px;
  width: 99px;
  background-color: #bd611c;
}

.mancha51_cuerpo_top {
  position: absolute;
  top: 132px;
  right: 33px;
  height: 33px;
  width: 66px;
  background-color: #c86b29;
}

.mancha52_cuerpo_top {
  position: absolute;
  top: 132px;
  right: 0;
  height: 33px;
  width: 33px;
  background-color: #bd611c;
}

.mancha6_cuerpo_top {
  position: absolute;
  bottom: 0;
  left: 66px;
  height: 35px;
  width: 132px;
  background-color: #bd611c;
}

.mancha61_cuerpo_top {
  position: absolute;
  bottom: 0;
  right: 66px;
  height: 35px;
  width: 135px;
  background-color: #c86b29;
}

.mancha62_cuerpo_top {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 35px;
  width: 66px;
  background-color: #bd611c;
}